@import "../../../Colors.scss";

.resend-form {
    >div {
        display: flex;
        justify-content: right;
    }
    .email {
        margin-bottom: 30px;
    }
    input {
        margin-bottom: 30px;

        &[type=submit] {
            cursor: pointer;
            background-color: $marte-white;
            color: $marte-red;
        }
    }
}