.marte-header {
    display: flex;
    align-items: center;
    padding: 60px 120px;
    justify-content: space-between;

    .left {
        flex: 1;
        ul {
            justify-content: left;
        }
    }
    .right {
        flex: 1;
        ul {
            justify-content: right;
        }
    }

    .logo {
        img {
            height: 40px;
        }
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0;
        display: flex;

        li {
            display: inline-block;
            padding: 7px;
        }
    }

}