@import "../../Colors.scss";

.marte-footer {
    width: 100%;
    &.theme-white {
        color: $marte-red;
    }
    &.theme-red {
        color: $marte-white;
    }
    &.theme-blue {
        color: $marte-white;
    }
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    
    .logo-and-text {
        padding: 72px 110px;
        display: flex;
        gap: 20px;
        align-items: center;


        .footer-text {
            span {
                font-family: "neue-haas-grotesk-display", sans-serif;
                font-size: 31px;
                font-style: normal;
                font-weight: 530;
            }
        }
    }




    .social-and-contracts {
        padding: 60px 110px;
        display: flex;
        flex-direction: column;
        gap:10px;
        align-items: flex-end;


        .clicable-contract-links {
            font-size: 18px;
            font-style: normal;
            font-weight: 50;
            text-decoration-line: underline;
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            /*.user-terms {
                
            }*/
        }

        .social-logos {
            display: flex;
            
            align-items: center;

            button {
                background-color: transparent;
                height:min-content;
                width:min-content;
                padding: 0px 0px;
            }
        }
    }
    
}