@import "../../App.scss";
@import "../../Colors.scss";

.main-app {
    background-color: $marte-white;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;

    .main-app-content {
        max-width: $main-app-width;
        width: $main-app-width;

        &.debug {
            background-color: #ff000025;
        }
    }

}